@tailwind base;
@tailwind components;
@tailwind utilities;

*{
 font-family: Poppins, sans-serif;
}

:root{
    --yellow: #ffe779;
}

.page-animate-in{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height:100vh;
        background:var(--yellow);
        transform-origin:bottom;
}

.page-animate-out{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:var(--yellow);
    transform-origin: top;
}

input[type=radio] {
    accent-color: var(--yellow) !important;
    border-color: #FFF;
}
input[type=checkbox] {
    accent-color: var(--yellow) !important;
    border-color: #FFF;
}

/* CSS code */
input:-webkit-autofill {
    background-color: #f5f5f5; 
    box-shadow: 0 0 0 1000px #f5f5f5 inset; 
   
}
